body{
    background-color: rgb(255, 115, 0);
}
.head{
    color: darkblue;
}
#bglime{
    background-color: rgb(92, 246, 92);
}
span.red{
    color: red;
}
p{
    color: white;
    font-size: larger;
}
#para{
    color: rgb(2, 99, 2);
}
span.black{
    color: black;
}
ul{
    color: white;
}
span.hyellow{
    background-color: yellow;
}
span.hblue{
    background-color: blue;
}
section > ol > li:nth-child(2){
    color: blue;
}
section > ol > li:nth-child(3){
    color: red;
}