* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    background-color: hsl(180, 100%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
}

.logo h2 {
    color: hsl(0, 0%, 20%);
}


.hamburger {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    font-weight: 600;
}

.user-btn {
    background-color: aliceblue;
    border: 1px solid hsl(212, 72%, 59%);
    padding: 12px 19px;
    border-radius: 8px;
    color: hsl(212, 72%, 59%);
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-btn:hover {
    background-color: hsl(212, 72%, 95%);
}


.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 0 5vw;
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 3vh;
    color: hsl(0, 0%, 13%);
}

.hero-content h1 span {
    color: hsl(212, 72%, 59%);
}

.hero-content p {
    font-size: 1.1rem;
    color: hsl(0, 0%, 47%);
    margin-bottom: 4vh;
}

.cta-button {
    background-color: hsl(212, 72%, 59%);
    color: white;
    border: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.cta-button:hover {
    display: inline-block;
    background-color: hsl(212, 72%, 50%);
    transform: rotate(-10deg)scale(1.1);
    transition: 0.6s ease-in;
    
}

.hero-image {
    width: 55%;
    text-align: right;
}

.hero-image img {
    max-width: 130%;
    height: 220px;
    border-radius: 10px;
}



