* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

#menu-toggle {
  display:  none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px; 
  cursor: pointer;
  z-index: 10; 
}

.hamburger .line {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out; 
}

.nav-links {
  display: none;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 60px; 
  left: 0;
  width: 30%;
  height: 60%;
  background-color: #444;
  text-align: center;
}

.nav-links li a {
  display: block;
  padding: 2rem;
  color: white;
  text-decoration: none;
}

#menu-toggle:checked ~ .nav-links {
  display: flex;
}

#menu-toggle:checked ~ .hamburger .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

#menu-toggle:checked ~ .hamburger .line:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ .hamburger .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}