* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
}

.menu-checkbox {
  display: none;
}

/* less than 900px menu */
@media (max-width: 900px) {
  .hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    
    position: relative;
    z-index: 1000; 
  }

  .line {
    display: block;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
  }

  .menu-items {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
  }

  .menu-items li {
    margin-bottom: 20px;
  }

  .menu-items a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
  }

  
  .menu-checkbox:checked ~ .menu-items {
    transform: translateX(100%); 
  }

  .menu-checkbox:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-checkbox:checked ~ .hamburger-lines .line2 {
    opacity: 0;
  }

  .menu-checkbox:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}


@media (min-width: 901px) {
  
  .hamburger-lines {
    display: none;
  }

  
  .menu-items {
    display: flex;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    box-shadow: none;
    padding: 0;
    list-style: none;
  }

  .menu-items li {
    margin-left: 30px;
    margin-bottom: 0;
  }

  .menu-items a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
  }
 
}
/* Web page display */
.left{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}
.left h1{
  font-size: 50px;
  margin-left: 70px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
}
.left p{
  font-size: 18px;
  margin-left: 40px;
  margin-top: 40px;
}
.left button{
  display: inline-block;
  margin-top: 70px;
  margin-left: 150px;
  padding: 10px ;
  padding-left: 30px;
  width: 40%;
  background-color: rgba(0, 255, 255, 0.82);
  text-decoration: none;
  left: 30%;
  border: navajowhite;
}
.container{
  display: flex;
}
.right{
  display: flex;
  

  
}